@using restaurant_reservation_system.Models.ViewModel
@{  
    ViewData["Title"] = "Home Page";  
}  
@model GuestReservationViewModel  

<div class="text-center">  
    <h1 class="display-4">Welcome</h1>  
    <br />  
</div>  
