@using restaurant_reservation_system.Models.ViewModel

@{
	ViewData["Title"] = "Login";
}

@model LoginViewModel

<div class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-lg-6 col-md-10 col-sm-12">
			<div class="bg-white p-4 shadow rounded-3">
				<form action="Login" method="post">
					<h2 class="text-center">Login</h2>
					<div asp-validation-summary="All" class="text-danger"></div>
					<div class="mb-3">
						<label asp-for="Email" class="form-label"></label>
						<input asp-for="Email" class="form-control" />
						<span asp-validation-for="Email" class="text-danger"></span>
					</div>
					<div class="mb-3">
						<label asp-for="Password" class="form-label"></label>
						<input asp-for="Password" class="form-control" />
						<span asp-validation-for="Password" class="text-danger"></span>
					</div>
					<button type="submit" class="btn btn-primary">Login</button>
				</form>
			</div>
		</div>
	</div>

</div>